In [1]:
import openpyxl
import os
import pandas as pd
from openpyxl import load_workbook
import numpy

In [2]:
daily_totals = pd.read_excel ('SALES LOG - XYZ COMPANY.xlsx',nrows=154)
daily_totals

,SALES ID,DEPOSIT DATE,TENDER TYPE,SALES TYPE,PO #,DATE OF SALE,TAX RCPT,SPECIAL,SALE AMT,TAX EXEMPT AMT,...,ATH CAP,ATH AC CU,ATH RESTRICTRED,RESTRICTED PD,CURRENT USE PD,ATH CU PD,ATH CAP PD,ATH CU PD.1,ATH RESTRICTED PD,ADJ
0,1.0,2020-02-26 00:00:00,CK,Check,81551,2020-03-02,19.0,1.0,1090.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2020-02-27 00:00:00,CK,Check,81563,2020-03-02,5.0,NaN,6578.84,1300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,2020-02-27 00:00:00,CK,Check,81564,2020-03-02,0.0,1.0,200.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,2020-02-27 00:00:00,CK,Check,81565,2020-03-02,10.0,0.0,1700.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,2020-02-27 00:00:00,CK,Check,81566,2020-03-02,8.0,0.0,3675.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,3.0,NaN,QU,Quote,81732,2020-03-20,0.0,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,2.0,GPD,WR,Wire In,81733,2020-03-20,0.0,0.0,466025.78,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,28384.0,12515.0,425126.78,NaN
151,3.0,NaN,CK,Check,81734,NaT,0.0,2.0,8110.04,0.0,...,NaN,NaN,NaN,NaN,8110.04,NaN,NaN,NaN,NaN,NaN
152,NaN,2020-03-20 00:00:00,CK,Check,81735,NaT,14.0,0.0,2115.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,2.0,2020-03-20 00:00:00,CK,Check,81736,2020-03-20,4.0,0.0,445.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
pwd

'C:\\Users\\jmfon\\Documents\\Automation_Project\\First-automation-project'

In [4]:
main_total = pd.read_excel ('tabula-END OF DAY REPORT - XYZ COMPANY.xlsx') 
main_total

,Unnamed: 0,Unnamed: 1,XYZ COMPANY,Unnamed: 3,Unnamed: 4
0,NaN,NaN,End of Day Report,NaN,NaN
1,NaN,NaN,2020-03-20 00:00:00,NaN,NaN
2,PO #,CUSTOMER ID,DATE OF SALERECEIPT #,AMOUNT,SPEED TYPE
3,81730,NaN,NaN,NaN,NaN
4,NaN,126104,03/13/2020 0001492287,40,G0401A
5,NaN,139729,03/12/2020 0001492286,50,G0419A
6,NaN,415802,03/14/2020 0001492281,100,G0598A
7,NaN,1018908,03/12/2020 0001492288,20,G3035A
8,NaN,1065569,03/05/2020 0001492289,1500,G2477A
9,NaN,NaN,NaN,1710,NaN
10,81730,NaN,NaN,NaN,NaN
11,81733,NaN,NaN,NaN,NaN
12,NaN,129188,03/13/2020 0001492256,150,A0176
13,NaN,141077,03/13/2020 0001492248,25000,A0116
14,NaN,149443,03/11/2020 0001492251,2000,A0168
15,NaN,163549,03/12/2020 0001492260,1600,A8008
16,NaN,302068,03/14/2020 0001492277,200,A0108
17,NaN,318123,03/11/2020 0001492255,444,A8008
18,NaN,413376,03/11/2020 0001492265,3200,A8008
19,NaN,413376,03/13/2020 0001492270,200,A8008
20,NaN,424431,03/10/2020 0001492249,1000,A0168
21,NaN,432540,03/10/2020 0001492264,7900,A8008
22,NaN,432540,03/20/2020 0001492295,100,A8008
23,NaN,810469,03/14/2020 0001492278,800,A0108
24,NaN,824824,03/09/2020 0001492247,25000,A0063
25,NaN,834696,03/11/2020 0001492261,3200,A8008
26,NaN,837873,03/10/2020 0001492250,714.5,A0168
27,NaN,867566,03/13/2020 0001492267,20,A0018
28,NaN,873349,03/10/2020 0001492268,3200,A8008
29,NaN,877756,03/10/2020 0001492252,1000,A0168
30,NaN,907172,03/09/2020 0001492272,268750,A5737
31,NaN,907172,03/09/2020 0001492274,100000,A8005
32,NaN,914864,03/11/2020 0001492254,1000,A0168
33,NaN,916980,03/11/2020 0001492266,1200,A8008
34,NaN,936797,03/10/2020 0001492253,457.28,A0168
35,NaN,976785,03/12/2020 0001492275,10000,A0010
36,NaN,976785,03/12/2020 0001492276,1400,A0108
37,NaN,993472,03/13/2020 0001492245,35,A0176
38,NaN,1001448,03/11/2020 0001492269,1200,A8008
39,NaN,1002032,03/14/2020 0001492257,1200,A8008
40,NaN,1025858,03/11/2020 0001492262,40,A8008
41,NaN,1035053,03/13/2020 0001492259,1200,A8008
42,NaN,1035701,03/10/2020 0001492263,2400,A8008
43,NaN,1035704,03/09/2020 0001492258,1200,A8008
44,NaN,1039113,03/11/2020 0001492271,100,A8008
45,NaN,1043815,03/10/2020 0001492246,100,A0010
46,NaN,1054901,03/13/2020 0001492273,15,AWBBL
47,NaN,NaN,NaN,466026,NaN
48,81736,NaN,NaN,NaN,NaN
49,NaN,134593,03/16/2020 0001492292,250,G1651A
50,NaN,NaN,XYZ COMPANY,NaN,NaN
51,NaN,NaN,END OF DAY REPORT,NaN,NaN
52,NaN,NaN,2020-03-20 00:00:00,NaN,NaN
53,PO #,CUSTOMER ID,DATE OF SALERECEIPT #,AMOUNT SPEEDTYPE,NaN
54,NaN,164304,03/14/2020 0001492293,$50.00 G0400A,NaN
55,NaN,164304,03/14/2020 0001492294,$50.00 G1802A,NaN
56,NaN,820366,03/13/2020 0001492290,$45.00 G0400A,NaN
57,NaN,828968,03/15/2020 0001492291,$50.00 G1385A,NaN
58,NaN,NaN,NaN,445,NaN
59,NaN,NaN,NaN,"GRAND TOTAL: $468,180.78",NaN